    @media (max-width: 320px) {
        .mobile-menu-soc {
            font-size: 14px;
            padding-left: 0;
            padding-right: 7px;
        }
        .mobile-menu-bottom {
            margin: 0 auto;
        }
        .mobile-menu-phone {
            font-size: 25px;
        }
    }