:root {
    --brand-color: #000000;
    --brand-color2: #ffffff;
    --hoover-color: #2196f3;
    --color-h2: #212121;
    --background-color: #2f303a;
    --color-description: #757575;
    /*описание*/
    --color-bg-our-team: #f5f4fa;
    /*вторичный цвет фона*/
    --font-family: inherit;
    /*для кнопок*/
    --border-color: #ececec;
    --border-color-img: #eeeeee;
    --color-icon: #afb1b8;
    --color-bg-icon: #fff;
    --color-icon-bg-hover: #2196f3;
    --color-icon-hover: #fff;
}