@charset "UTF-8";
:root {
  --brand-color: #000000;
  --brand-color2: #ffffff;
  --hoover-color: #2196f3;
  --color-h2: #212121;
  --background-color: #2f303a;
  --color-description: #757575;
  /*описание*/
  --color-bg-our-team: #f5f4fa;
  /*вторичный цвет фона*/
  --font-family: inherit;
  /*для кнопок*/
  --border-color: #ececec;
  --border-color-img: #eeeeee;
  --color-icon: #afb1b8;
  --color-bg-icon: #fff;
  --color-icon-bg-hover: #2196f3;
  --color-icon-hover: #fff;
}

header .container {
  display: flex;
  justify-content: center;
}

.span-logo {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  line-height: 1.1923;
  letter-spacing: 0.03em;
  color: var(--hoover-color);
}

.span-logo-2part {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.1923;
  letter-spacing: 0.03em;
  color: var(--brand-color);
}

.main-nav2 {
  display: flex;
  /*ставит все в ряд*/
  align-items: center;
  /*выравнивает по середину строки элементы*/
}

.nav-link {
  color: var(--brand-color);
  padding-bottom: 32px;
  padding-top: 32px;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.link-current {
  color: var(--hoover-color);
  padding-bottom: 28px;
  border-bottom: 5px solid #2196F3;
  border-radius: 2px;
}

.nav-list {
  display: flex;
  gap: 50px;
  margin: 0;
  margin-left: 93px;
  padding-left: 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1428;
  letter-spacing: 0.02em;
}

/*.nav-list .nav-li:last-child { margin-right: 0; } */
.nav-link:hover {
  color: var(--hoover-color);
}

.nav-contact {
  display: flex;
  margin-left: 302px;
  list-style: none;
  color: var(--brand-color);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1428;
  letter-spacing: 0.02em;
}

.nav-contact-li:first-child {
  margin-right: 30px;
}

.contact-list {
  color: var(--color-description);
  padding-bottom: 32px;
  padding-top: 32px;
  padding-top: 32px;
  display: flex;
  align-items: center;
}

.nav-icon {
  margin-right: 10px;
  fill: var(--color-description);
}

.contact-list:hover {
  color: var(--hoover-color);
}

.contact-list:hover .nav-icon {
  fill: var(--color-icon-bg-hover);
}

.mobile-btn {
  display: none;
}

.mobile-menu {
  display: none;
}

@media (max-width: 968px) {
  .main-nav2 {
    justify-content: space-between;
    min-width: 100%;
    padding: 16px 0px;
  }
  .nav-contact {
    display: flex;
    flex-direction: column;
    margin-left: 0px;
    list-style: none;
    color: var(--brand-color);
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1428;
    letter-spacing: 0.02em;
  }
  .nav-contact-li:first-child {
    margin-right: 0px;
  }
  .nav-list {
    display: flex;
    gap: 50px;
    margin: 0;
    margin-left: 0px;
    padding-left: 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1428;
    letter-spacing: 0.02em;
  }
  .contact-list {
    padding-bottom: 5px;
    padding-top: 5px;
  }
  .link-current {
    padding-bottom: 30px;
  }
}
@media (max-width: 480px) {
  .nav-contact,
.nav-list {
    display: none;
  }
  .span-logo,
.span-logo-2part {
    font-size: 24px;
  }
  .mobile-btn {
    display: block;
    border: none;
    width: 40px;
    height: 40px;
    background: transparent;
  }
  .mobile-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background: #fff;
    padding: 48px 40px;
    transition: 0.3s all ease-in-out;
    transform: translate(100%, 0px);
    visibility: hidden;
  }
  .mobile-menu-close {
    width: 40px;
    height: 40px;
    position: absolute;
    right: 0;
    top: 0;
    border: none;
    background: transparent;
  }
  .mobile-menu-link {
    margin-bottom: 35px;
    font-size: 40px;
    font-weight: 500;
    letter-spacing: -0.02em;
    line-height: 46.88px;
    display: block;
    color: var(--color-h2);
  }
  .mobile-menu-link:hover {
    color: var(--hover-color);
  }
  .mobile-menu-phone,
.mobile-menu-mail {
    display: block;
    font-weight: 500;
  }
  .mobile-menu-phone {
    color: var(--hoover-color);
    font-size: 34px;
    margin-bottom: 32px;
  }
  .mobile-menu-mail {
    color: var(--color-description);
    font-size: 24px;
    margin-bottom: 64px;
  }
  .mobile-menu-social {
    display: flex;
    justify-content: space-between;
  }
  .mobile-menu-soc {
    color: var(--hoover-color);
    display: block;
    font-size: 18px;
    font-weight: 500;
    padding: 0px 10px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
  }
  .mobile-menu-soc:last-child {
    border: none;
  }
  .mobile-menu-active {
    transform: translate(0%, 0px);
    visibility: visible;
  }
}
/*главный экран*/
.hero {
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../image/bg\ hero.jpg);
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: var(--background-color);
  max-width: 100%;
  height: 600px;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../image/hero-img2x-desktop.jpg);
  }
}

/*заголовок главный*/
.hero-tittle {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.3636;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--brand-color2);
}

/*кнопка на гл.экране*/
.btn-hero {
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding: 10px 32px;
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  color: var(--brand-color2);
  background: var(--hoover-color);
  border: none;
  border-radius: 4px;
}

.btn-hero a {
  color: #ffffff;
}

@media (max-width: 768px) {
  .hero-tittle {
    font-size: 26px;
    line-height: 42px;
  }
  .btn-hero {
    padding: 10px 24px;
  }
  .hero {
    max-width: 100%;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../image/Header-img-tab.jpg);
  }
}
@media (max-width: 768px) and (min-device-pixel-ratio: 2), (max-width: 768px) and (-webkit-min-device-pixel-ratio: 2), (max-width: 768px) and (min-resolution: 192dpi), (max-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../image/Header-img-tab2x.jpg);
  }
}
@media (max-width: 480px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../image/header-img-mob.jpg);
    padding-top: 118px;
    padding-bottom: 118px;
    max-width: 100%;
    height: 400px;
    background-size: cover;
    background-position: center;
  }
}
@media (max-width: 480px) and (min-device-pixel-ratio: 2), (max-width: 480px) and (-webkit-min-device-pixel-ratio: 2), (max-width: 480px) and (min-resolution: 192dpi), (max-width: 480px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../image/Header-img-mob2x.jpg);
  }
}
@media (max-width: 320px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../image/header-img-mob.jpg);
    padding-top: 118px;
    padding-bottom: 118px;
    max-width: 100%;
    height: 400px;
    background-size: cover;
    background-position: center;
  }
}
@media (max-width: 320px) and (min-device-pixel-ratio: 2), (max-width: 320px) and (-webkit-min-device-pixel-ratio: 2), (max-width: 320px) and (min-resolution: 192dpi), (max-width: 320px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../image/Header-img-mob2x.jpg);
  }
}
/*преимущества список 2-ой блок, шапку не считаю**/
.advantage {
  padding-top: 94px;
  padding-bottom: 94px;
}

.advantage-list {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  align-items: flex-start;
}

.advantage-list-li {
  flex: 1 1 calc(25% - 90px);
}

.wrap-icon {
  background-color: #f5f4fa;
  border-radius: 4px;
  width: 100%;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Переваги в css спрячем h2*/
.hide {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

/*список преимуществ, 2-ой блок, шапку не считаю*/
.advantage-tittle {
  font-size: 14px;
  line-height: 1.1428;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-h2);
  margin-top: 30px;
}

.advantage-link {
  margin-left: 100px;
}

.advantage-p {
  font-size: 14px;
  line-height: 1.7142;
  letter-spacing: 0.03em;
  color: var(--color-description);
}

@media (max-width: 968px) {
  .advantage {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .advantage-list {
    flex-wrap: wrap;
  }
  .advantage-list-li {
    flex: 1 1 calc(50% - 90px);
  }
}
@media (max-width: 480px) {
  .advantage-list-li {
    flex: 100%;
  }
}
html {
  box-sizing: border-box;
}

*,
*::before *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  background-color: var(--brand-color2);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*сбрасываем*/
h1,
h2,
h3,
h4,
h5,
h6,
p ul {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li,
a {
  text-decoration: none;
  list-style-type: none;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  max-width: 1200px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*Чим ми займаємося*/
.work {
  padding-bottom: 94px;
  padding-top: 94px;
}

.tittle {
  /*h2*/
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.03em;
  color: var(--color-h2);
  text-align: center;
  margin-bottom: 50px;
}

.portfolio-relative {
  position: relative;
}

.work-list {
  display: flex;
  gap: 30px;
  padding-left: 0;
  padding-top: 0;
}

.work-list-p {
  position: absolute;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  background-color: rgba(47, 48, 58, 0.8);
  width: 100%;
  height: 25%;
  bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 8%;
}

.team-img {
  width: 100%;
  height: 260px;
}

@media (max-width: 968px) {
  .work {
    padding-bottom: 60px;
    padding-top: 60px;
  }
  .work {
    display: none;
  }
  .tittle {
    font-size: 28px;
    margin-bottom: 30px;
  }
}
/*Наша команда*/
.our-team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--color-bg-our-team);
}

.team-list {
  background-color: var(--brand-color2);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  flex: calc(25% - 90px);
}

.team {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding-left: 0;
}

.team-link {
  display: block;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1875;
  letter-spacing: 0.03em;
  color: var(--color-h3);
}

.team-img {
  display: block;
}

.team-speciality {
  font-size: 16px;
  line-height: 1.1875;
  letter-spacing: 0.03em;
  color: var(--color-description);
  margin-top: 10px;
}

.team-img-text {
  /*обертка для текста и ссылок в блоке Команда*/
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--color-bg-icon);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color, color;
}

.team-link:hover {
  background-color: var(--color-icon-bg-hover);
}

.team-link:hover .team-icon {
  fill: var(--color-icon-hover);
}

.team-social-li {
  /*элементы списка*/
  width: 44px;
  height: 44px;
}

.team-social-ul {
  /*список*/
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
}

.team-icon {
  fill: var(--color-icon);
  /*так обозначаетмя цвет для свг иконки -fill*/
}

@media (max-width: 968px) {
  .our-team {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .team-list {
    flex: calc(50% - 30px);
  }
  .team-img {
    width: 100%;
    height: 374px;
  }
}
@media (max-width: 480px) {
  .team-list {
    flex: 100%;
  }
  .team-img {
    height: 460px;
  }
}
.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients-tittle {
  font-family: "Roboto" serif;
  font-size: 36px;
  text-align: center;
  margin-bottom: 50px;
}

.clients-ul {
  display: flex;
  justify-content: space-between;
}

.clients-li {
  gap: 16px 32px;
}

.clients-li:last-child {
  margin-right: none;
}

.client-icon-svg {
  width: 106px;
  height: 60px;
  fill: #afb1b8;
}

.client-link:hover .client-icon-svg {
  border-color: #2196f3;
  fill: #2196f3;
}

.client-link:hover {
  border-color: #2196f3;
}

.client-link:focus {
  border-color: #2196f3;
  fill: #2196f3;
}

.client-link {
  width: 100%;
  height: 100%;
  padding-top: 16px;
  padding-right: 32px;
  padding-bottom: 16px;
  padding-left: 32px;
  border-radius: 4px;
  border: 1px solid #afb1b8;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color, color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

@media (max-width: 968px) {
  .clients {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .clients-ul {
    flex-wrap: wrap;
    gap: 30px;
  }
  .clients-li {
    flex: calc(33% - 120px);
  }
}
footer {
  background-color: var(--background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.logo-footer {
  display: block;
  margin-bottom: 20px;
}

.span-logo2parr-footer {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.1923;
  letter-spacing: 0.03em;
  color: var(--brand-color2);
}

address {
  font-style: normal;
}

footer li {
  padding-top: 9px;
}

.footer-adress {
  font-size: 14px;
  line-height: 1.7142;
  letter-spacing: 0.03em;
  color: var(--brand-color2);
}

.footer-contact {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7142;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  padding-left: 0;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.footer-contact:hover {
  color: var(--hoover-color);
}

.footer-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.team-social-icon {
  fill: #ececec;
}

.footer-social-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.1);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.footer-social-link:hover,
.footer-social-link:focus {
  background: var(--color-icon-bg-hover);
}

.footer-icon-li {
  padding-top: 0;
  width: 44px;
  height: 44px;
}

.footer-social-list {
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
  margin-top: 20px;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-social {
  margin-left: 70px;
}

.p-form {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
}

form {
  display: flex;
  gap: 12px;
}

.input-form {
  position: relative;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  width: 358px;
  height: 50px;
  background-color: transparent;
  margin-bottom: 0;
  padding-left: 16px;
  color: #757575;
}

.btn-form {
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  background-color: var(--color-icon-bg-hover);
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding-left: 28px;
  cursor: pointer;
}

.btn-svg-form {
  fill: #fff;
  margin: 13px 28px 13px 10px;
}

.wrap-form {
  margin-left: 93px;
}

.wrap-flex {
  display: flex;
  justify-content: space-between;
  gap: 12px;
}

.input-form:focus + .label-form {
  transform: translateY(-50px);
}

@media (max-width: 968px) {
  .footer-container {
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0px 76px;
  }
  .logo-footer {
    text-align: center;
  }
  .footer-social {
    margin: 0;
    text-align: center;
  }
  .wrap-flex {
    flex-direction: column;
  }
  .wrap-form {
    margin: 60px auto 0px auto;
    text-align: center;
  }
  .btn-form {
    justify-content: center;
  }
}
@media (max-width: 480px) {
  .footer-container {
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0px 0px;
  }
  .logo-footer {
    margin: 0px auto;
  }
  .footer-social {
    margin: 60px auto;
  }
  .wrap-form {
    margin: 0px auto;
  }
  .wrap-flex {
    flex-direction: column;
  }
  form {
    flex-direction: column;
  }
  .btn-form {
    width: 200px;
    margin: 0 auto;
    width: 200px;
  }
  .mobile-menu-close {
    padding-right: 45px;
  }
}
@media (max-width: 320px) {
  .wrap-label {
    margin: 0;
  }
  .input-form {
    width: 290px;
  }
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
}

/*-----------------скроем модалку-------------------------------*/
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  /*-----------------через него можно клацать другое-------------------------------*/
}

.modal {
  position: absolute;
  transform: translate(-50%, -50%);
  min-height: 581px;
  background-color: #ffffff;
  top: 50%;
  left: 50%;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.wrap-btn-modal {
  right: -94%;
  top: 5px;
  position: relative;
}

.modal-btn {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  height: 30px;
  border-radius: 50%;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  right: 8px;
  top: 8px;
  width: 30px;
}

.svg-modal:hover {
  fill: var(--color-icon-bg-hover);
}

.modal-p {
  position: absolute;
  padding: 10%;
}

.wrap-modal {
  display: flex;
  justify-content: center;
  align-items: center;
}

.subscribe-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  width: 448px;
}

.modal {
  padding: 40px;
}

.tittle-modal {
  display: flex;
  justify-content: center;
  margin-bottom: 12px;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.15;
  text-align: center;
}

.subscribe-form-field {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 10px;
}

.subscribe-form-field-lust {
  margin-bottom: 20px;
}

.subscribe-form-field-placeholder {
  font-size: 12px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5019607843);
}

.subscribe-form-field textarea,
.subscribe-form-field input {
  transition: border-color 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
}

.subscribe-form-field textarea:focus,
.subscribe-form-field input:focus {
  border-color: var(--color-icon-bg-hover);
}

.subscribe-form-field:focus-within .subscribe-form-icon {
  fill: var(--color-icon-bg-hover);
}

.subscribe-form-field textarea {
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  height: 120px;
  padding: 12px 16px;
}

.subscribe-form-field input {
  padding-left: 42px;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-right: 15px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  height: 40px;
  width: 100%;
}

.subscribe-form-field label {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
  color: var(--color-description);
}

.subscribe-form-container-input-icon {
  position: relative;
}

.checkbox {
  margin-right: 7px;
  width: 16px;
  height: 15px;
  margin-bottom: 3px;
  accent-color: #2196F3;
}

.subscribe-form-icon {
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translate(-50%, -50%);
}

.subscribe-form-text-conditions {
  display: inline-flex;
  height: 24px;
  align-items: center;
  color: var(--color-description);
}

.checkbox-icon-condotions {
  border-radius: 4px;
  border: 2px solid black;
  margin-right: 7px;
}

.checkbox:checked + .checkbox-icon-condotions {
  background-color: var(--color-icon-bg-hover);
  border-color: var(--color-bg-icon);
}

.subscribe-form-link-conditions {
  display: block;
  margin-left: 4px;
  color: var(--color-icon-bg-hover);
  text-decoration: underline;
}

.subscrib-button {
  background-color: var(--color-icon-bg-hover);
  margin-left: 120px;
  height: 50px;
  width: 200px;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  border: none;
  border-radius: 4px;
  color: #ffffff;
  cursor: pointer;
}

.subscrib-button:hover {
  background-color: #188CE8;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1490196078);
}

@media (max-width: 968px) {
  .modal {
    min-height: 648px;
    min-width: 450px;
  }
}
@media (max-width: 768px) {
  .modal {
    min-height: 648px;
    min-width: 450px;
  }
}
@media (max-width: 480px) {
  .modal {
    max-width: 450px;
    height: 608px;
  }
  .subscribe-form {
    width: 370px;
  }
  .subscribe-form-text-conditions {
    font-size: 12px;
  }
  .subscrib-button {
    margin: 0 auto;
    display: block;
  }
}
@media (max-width: 320px) {
  .modal {
    max-width: 80%;
  }
  .subscribe-form {
    width: 220px;
  }
  .subscribe-form-text-conditions {
    font-size: 10px;
    background-color: #2196F3;
  }
  .subscrib-button {
    margin: 0 auto;
    display: block;
  }
  .modal-btn {
    margin-right: 100px;
  }
}
/* кнопки-переключатели*/
.row-btn {
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-h3);
  border: none;
  display: block;
}

.row-btn:hover,
.row-btn:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  color: var(--brand-color2);
  background-color: var(--hoover-color);
}

/* портфолио*/
.border {
  border-bottom: 1px solid var(--border-color);
  /*линия под навигацией*/
}

.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.portfolio-tabs {
  padding-left: 0;
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 50px;
}

.row-btn {
  background-color: var(--color-bg-our-team);
  padding: 6px 22px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color, color, box-shadow;
}

.row-btn:hover,
.row-btn:focus {
  background-color: var(--hoover-color);
  color: var(--brand-color2);
}

.portfolio-link {
  display: block;
}

.portfolio-link:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  background: #ffffff;
}

.portfolio-name {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--color-h2);
}

.portfolio-p {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  color: var(--color-description);
}

.portfolio-list {
  gap: 30px;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: var(--color-description);
  display: flex;
  flex-wrap: wrap;
  /*перенос на другую строку*/
  justify-content: space-between;
  padding-left: 0;
}

.portfolio-relative {
  position: relative;
  overflow: hidden;
}

.portfolio-cont {
  position: absolute;
  display: inline-block;
  top: 0;
  left: 0;
  transform: translateY(100%);
  transition: transform 250ms;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--color-bg-icon);
  background-color: var(--color-icon-bg-hover);
  margin-top: 0;
}

.portfolio-relative:hover .portfolio-cont,
.portfolio-relative:focus .portfolio-cont {
  opacity: 1;
  transform: translateY(0);
}

/*.portfolio-absolute {
                                                    position: absolute;
                                                    width: 100%;
                                                    font-size: 18px;
	@@ -786,211 +790,226 @@
                                                    transform: translateY(100%);
                                                }
                                                */
.portfolio-content {
  border-bottom: 1px solid var(--border-color-img);
  border-left: 1px solid var(--border-color-img);
  border-right: 1px solid var(--border-color-img);
  padding-top: 20px;
  padding-left: 24px;
  margin-top: 0;
}

@media (max-width: 968px) {
  .portfolio-tabs {
    flex-wrap: wrap;
  }
}
@media (max-width: 480px) {
  .portfolio-tabs {
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  .portfolio-li {
    flex: 1 1 100%;
  }
}
@media (max-width: 320px) {
  .mobile-menu-soc {
    font-size: 14px;
    padding-left: 0;
    padding-right: 7px;
  }
  .mobile-menu-bottom {
    margin: 0 auto;
  }
  .mobile-menu-phone {
    font-size: 25px;
  }
}/*# sourceMappingURL=main.css.map */